body {
  background-image: url("https://images.unsplash.com/photo-1629968417850-3505f5180761?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHBhcGVyJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 4px solid;
  border-bottom: 4px solid;
  
}

h4 {
  margin-bottom: 0;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  margin-top: 0;
}

